In [1]:
listado["maria","pepe","marta","antonio"]
print(listado[:])

NameError: name 'listado' is not defined

In [2]:
listado=["maria","pepe","marta","antonio"]
print(listado[:])

['maria', 'pepe', 'marta', 'antonio']

In [3]:
print(listado[3])

antonio

In [4]:
print(listado[-1])

antonio

In [5]:
print(listado[-2])

marta

In [6]:
print(listado[0:3])

['maria', 'pepe', 'marta']

In [7]:
listado[1]

'pepe'

In [8]:
print(listado[2:])

['marta', 'antonio']

In [9]:
listado.append("sandra")
listado[]

SyntaxError: invalid syntax (<ipython-input-9-1c2286f6b91f>, line 2)

In [10]:
listado.append("sandra")
listado[:]

['maria', 'pepe', 'marta', 'antonio', 'sandra']

In [11]:
listado.insert(2,"sandra")
listado[:]

['maria', 'pepe', 'sandra', 'marta', 'antonio', 'sandra']

In [12]:
listado.extend(["paco","francisco"])
listado[:]

['maria', 'pepe', 'sandra', 'marta', 'antonio', 'sandra', 'paco', 'francisco']

In [13]:
print(listado.index("ana"))

ValueError: 'ana' is not in list

In [14]:
print(listado.index("pepe"))

1

In [15]:
print(listado.index("sandra"))

2

In [16]:
print("pepe" in listado)

True

In [17]:
"pepe" in listado

True

In [18]:
listado=["maria","pepe","marta",1]
print(listado[:])

['maria', 'pepe', 'marta', 1]

In [19]:
listado.remove("pepe")
listado

['maria', 'marta', 1]

In [20]:
listado.pop()
listado

['maria', 'marta']

In [21]:
listado=["maria","pepe","marta",1]
listado2=["sandra","lucia"]
listado3 = listado + listado2

In [22]:
listado3

['maria', 'pepe', 'marta', 1, 'sandra', 'lucia']

In [23]:
listado=["maria","pepe","marta",1] * 3
listado

['maria',
 'pepe',
 'marta',
 1,
 'maria',
 'pepe',
 'marta',
 1,
 'maria',
 'pepe',
 'marta',
 1]

In [24]:
listado=["maria","pepe","marta",1] * 3
print(listado[:])

['maria', 'pepe', 'marta', 1, 'maria', 'pepe', 'marta', 1, 'maria', 'pepe', 'marta', 1]